<!DOCTYPE html>
<html ng-app="studentsApp">
  <head>
    <meta charset="UTF-8">
    <title>Students API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container" ng-controller="StudentsController">
      <form ng-submit="addStudent()">
        <label>Name:</label>
        <input type="text" ng-model="student.name" required/>
        <label>Age:</label>
        <input type="text" ng-model="student.age" required/>
        <button type="submit">Add</button>
      </form>
      <table>
        <tr>
          <td>
            Name
          </td>
          <td>
            Age
          </td>
        </tr>
        <tr ng-repeat="student in students[0]">
          <td>
            {{student.name}}
          </td>
          <td>
            {{student.age}}
          </td>
        </tr>
      </table>
      <form ng-submit="getAStudent()">
        <input type="text" ng-model="student.id" required/>
        <button type="submit">
          Get A Student</button>
      </form>
      <table>
        <tr>
          <td>
            Name
          </td>
          <td>
            Age
          </td>
        </tr>
        <tr>
          <td>
            {{specificStudent[0].name}}
          </td>
          <td>
            {{specificStudent[0].age}}
          </td>
        </tr>
      </table>
    </div>

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="front-end/app.js"></script>
    <script type="text/javascript" src="front-end/studentsController.js"></script>
    <script type="text/javascript" src="front-end/studentsFactory.js"></script>
  </body>
</html>
